*{margin:0; box-sizing: border-box; overflow-x: hidden;}
.wrapper{width: 100vw; height: 100vh; background-color: aliceblue;}
.header{width: 100vw; height: 10vh;}
.logo{width: 10vw; height: 8vh;margin: 1vh 1vw; background-color: lime; float:left}
.nav{width: 60vw;height: 8vh; background-color: aquamarine; float: left;margin: 1vh 5vw;}
.login{width: 16vw;height: 8vh; background-color: red; float: right;margin: 1vh 1vw;}
.main{width: 100vw;height: 90vh;}
.left{width: 50vw;height: 90vh; float: left;}
.right{width: 50vw;height: 90vh; float: right;}
.cta-text{width: 40vw;height: 40vh; margin: auto auto; margin-top: 23vh; background-color: indianred;}
.row{width: 50vw; height: 16vh; margin: 1.4vh 0vw; }
.box{width: 10vw; height: 14vh; margin: 1vh 1vw;background-color: gray; float: left;}